<a routerLink="/drink-form"><button class="btn btn-success pull-right" >Drink Form</button></a>
<a routerLink="/drink-list"><button class="btn btn-success pull-right" >Drink List</button></a>
<a routerLink="/user-list" ><button class="btn btn-success pull-right" >User List</button></a>

<form (ngSubmit)="updateUser()">
  <label>
    Username
  <input type="text" name="username" [readonly]="true" [(ngModel)]="user.username">
  </label>
  <label>
    Admin Rights
    <input type="checkbox" name="admin" [value]="true" [(ngModel)]="user.admin" [checked]="user.admin"/>
  </label>
  <button type="submit">
    Update
  </button>
  <button type="submit" (click)="setShouldNavigateToList()">
    Update and Back
  </button>
</form>
